* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #569C87;
  color: #EFC64F;
  font-size: 2em;
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  background-color: #569C87;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3.125em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer div {
  width: 50%;
}

footer a {
  color: #EFC64F;
  font-size: 1.3em;
  text-decoration: none;
}

.soon {
  background: #569C87;
  display: inline-block;
  border-radius: 0.625em;
  padding: 0.3em 1em 0.3em 1em;
  color: #EFC64F;
  margin: 2em 0em 3em 0em;
  font-size: 4em;
  width: 35%;
}

.conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 75%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu {
  padding: 15.625em 0 15.625em 0;
  margin: 1.875em auto 1.875em auto;
  -webkit-box-shadow: 0em 0.0625em 1.125em 0.1875em rgba(0, 0, 0, 0.43);
  box-shadow: 0em 0.0625em 1.125em 0.1875em rgba(0, 0, 0, 0.43);
  width: 35%;
  height: auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu a:hover {
  -webkit-transform: scale(1.15);
  /* Safari et Chrome */
  /* Firefox */
  /* Internet Explorer 9 */
  /* Opera */
  transform: scale(1.15);
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
  opacity: 0.8;
}

.menu1 {
  background-color: #FCDFDB;
}

.menu1 a {
  text-decoration: none;
}

.menu1 a p:nth-child(2) {
  font-family: 'Devonshire', cursive;
  color: #3E2723;
  font-size: 3.125em;
}

.menu1 a p {
  font-family: 'Sriracha', cursive;
  color: #3E2723;
  font-size: 3.125em;
  font-weight: 700;
}

.menu2 {
  background-color: #FEF5FD;
}

.menu2 a {
  text-decoration: none;
}

.menu2 a p:first-child {
  font-family: 'Croissant One', cursive;
  font-size: 2.1875em;
  background: -webkit-gradient(linear, left top, right bottom, from(#FB8C00), to(#7986CB));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu2 a p {
  color: #FB8C00;
  font-family: 'Noto Serif', serif;
  font-size: 3.125em;
  font-weight: 700;
}

.menu3 {
  background-color: #F9F9F9;
}

.menu3 a {
  text-decoration: none;
}

.menu3 a p:first-child {
  font-family: 'Dancing Script', cursive;
  font-size: 3.125em;
  background: -webkit-gradient(linear, left top, right bottom, from(#0D47A1), to(#29B6F6));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu3 a p {
  font-family: 'Kaushan Script', cursive;
  font-size: 3.125em;
  color: #1976D2;
}

.menu4 {
  background-color: #FDFFFD;
}

.menu4 a {
  text-decoration: none;
}

.menu4 a p:first-child {
  font-family: 'Kaushan Script', cursive;
  font-size: 3.125em;
  background: -webkit-gradient(linear, left top, right bottom, from(#33691E), to(#CDDC39));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu4 a p {
  font-family: 'Kaushan Script', cursive;
  font-size: 3.125em;
  color: #689F38;
}

i {
  font-size: 3.875em;
  display: block;
  background: -webkit-gradient(linear, left center, right center, from(#e53935), to(#FB8C00));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.soon span {
  height: 0.3em;
  width: 0.3em;
  border-radius: 50%;
  display: inline-block;
  margin: 0.07em;
  -webkit-animation: scaling 2.5s ease-in-out infinite;
          animation: scaling 2.5s ease-in-out infinite;
  margin-bottom: 0;
}

@-webkit-keyframes scaling {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    background-color: #e57373;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #1976D2;
  }
  100% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    background-color: #C6FF00;
  }
}

@keyframes scaling {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    background-color: #e57373;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #1976D2;
  }
  100% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    background-color: #C6FF00;
  }
}

.soon span:nth-child(0) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.soon span:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.soon span:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.soon span:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.mentions:hover, .contact:hover {
  -webkit-animation: anim 0.1s;
          animation: anim 0.1s;
  -webkit-animation-iteration-count: 5;
          animation-iteration-count: 5;
}

@-webkit-keyframes anim {
  0% {
    margin: 0;
  }
  15% {
    margin-top: -2px;
  }
  33% {
    margin-left: -5px;
  }
  45% {
    margin-top: 2px;
  }
  66% {
    margin-left: 5px;
  }
  100% {
    margin: 0px;
  }
}

@keyframes anim {
  0% {
    margin: 0;
  }
  15% {
    margin-top: -2px;
  }
  33% {
    margin-left: -5px;
  }
  45% {
    margin-top: 2px;
  }
  66% {
    margin-left: 5px;
  }
  100% {
    margin: 0px;
  }
}

/** SMARTPHONE **/
/** SMARTPHONE **/
/** SMARTPHONE **/
/** SMARTPHONE **/
/** SMARTPHONE **/
@media only screen and (min-width: 320px) and (max-width: 479px) {
  header {
    font-size: 0.9em;
  }
  footer {
    height: 1.875em;
  }
  footer a {
    font-size: 0.7em;
  }
  .soon {
    padding: 0.3em 0em 0.3em 0em;
    font-size: 0.625em;
    width: 30%;
  }
  .menu {
    padding: 1.25em 0em 1.25em 0em;
    width: 100%;
    height: 9.375em;
  }
  .menu1 a p:nth-child(2) {
    font-size: 1.25em;
  }
  .menu1 a p {
    font-size: 1.25em;
  }
  .menu2 a p:first-child {
    font-size: 0.9375em;
  }
  .menu2 a p {
    font-size: 1.25em;
  }
  .menu3 a p:first-child {
    font-size: 1.25em;
  }
  .menu3 a p {
    font-size: 1.25em;
  }
  .menu4 a p:first-child {
    font-size: 1.25em;
  }
  .menu4 a p {
    font-size: 1.25em;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  header {
    font-size: 0.9em;
  }
  footer {
    height: 1.875em;
  }
  footer a {
    font-size: 0.9em;
  }
  .soon {
    padding: 0.3em 0em 0.3em 0em;
    font-size: 0.9em;
    width: 30%;
  }
  .menu {
    padding: 1.25em 0em 1.25em 0em;
    width: 100%;
    height: 11.25em;
  }
  .menu1 a p:nth-child(2) {
    font-size: 1.5625em;
  }
  .menu1 a p {
    font-size: 1.5625em;
  }
  .menu2 a p:first-child {
    font-size: 1.25em;
  }
  .menu2 a p {
    font-size: 1.5625em;
  }
  .menu3 a p:first-child {
    font-size: 1.5625em;
  }
  .menu3 a p {
    font-size: 1.5625em;
  }
  .menu4 a p:first-child {
    font-size: 1.5625em;
  }
  .menu4 a p {
    font-size: 1.5625em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  header {
    font-size: 1.1em;
  }
  footer {
    height: 1.875em;
  }
  footer a {
    font-size: 1.1em;
  }
  .soon {
    padding: 0.3em 0em 0.3em 0em;
    font-size: 1.1em;
    width: 20%;
  }
  .menu {
    padding: 1.25em 0em 1.25em 0em;
    width: 100%;
    height: 13.75em;
  }
  .menu1 a p:nth-child(2) {
    font-size: 2.1875em;
  }
  .menu1 a p {
    font-size: 2.1875em;
  }
  .menu2 a p:first-child {
    font-size: 1.875em;
  }
  .menu2 a p {
    font-size: 2.1875em;
  }
  .menu3 a p:first-child {
    font-size: 2.1875em;
  }
  .menu3 a p {
    font-size: 2.1875em;
  }
  .menu4 a p:first-child {
    font-size: 1.875em;
  }
  .menu4 a p {
    font-size: 1.875em;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  header {
    font-size: 1.2em;
  }
  footer {
    height: 1.875em;
  }
  footer a {
    font-size: 1.2em;
  }
  .soon {
    padding: 0.3em 0em 0.3em 0em;
    font-size: 1.2em;
    width: 17%;
  }
  .menu {
    padding: 1.25em 0em 1.25em 0em;
    height: 34.375em;
  }
  .menu1 a p:nth-child(2) {
    font-size: 2.5em;
  }
  .menu1 a p {
    font-size: 2.5em;
  }
  .menu2 a p:first-child {
    font-size: 2.1875em;
  }
  .menu2 a p {
    font-size: 2.5em;
  }
  .menu3 a p:first-child {
    font-size: 2.5em;
  }
  .menu3 a p {
    font-size: 2.5em;
  }
  .menu4 a p:first-child {
    font-size: 2.5em;
  }
  .menu4 a p {
    font-size: 2.5em;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
  header {
    font-size: 1.3em;
  }
  footer {
    height: 1.875em;
  }
  footer a {
    font-size: 1.3em;
  }
  .soon {
    padding: 0.3em 0em 0.3em 0em;
    font-size: 1.3em;
    width: 17%;
  }
  .menu {
    padding: 1.25em 0em 1.25em 0em;
    height: 34.375em;
  }
  .menu1 a p:nth-child(2) {
    font-size: 2.5em;
  }
  .menu1 a p {
    font-size: 2.5em;
  }
  .menu2 a p:first-child {
    font-size: 2.1875em;
  }
  .menu2 a p {
    font-size: 2.5em;
  }
  .menu3 a p:first-child {
    font-size: 2.5em;
  }
  .menu3 a p {
    font-size: 2.5em;
  }
  .menu4 a p:first-child {
    font-size: 2.5em;
  }
  .menu4 a p {
    font-size: 2.5em;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
  header {
    font-size: 1.4em;
  }
  footer {
    height: 1.875em;
  }
  footer a {
    font-size: 1.1em;
  }
  .soon {
    padding: 0.3em 0em 0.3em 0em;
    font-size: 1.7em;
    width: 17%;
  }
  .menu {
    padding: 1.25em 0em 1.25em 0em;
    height: 34.375em;
  }
  .menu1 a p:nth-child(2) {
    font-size: 2.5em;
  }
  .menu1 a p {
    font-size: 2.5em;
  }
  .menu2 a p:first-child {
    font-size: 2.1875em;
  }
  .menu2 a p {
    font-size: 2.5em;
  }
  .menu3 a p:first-child {
    font-size: 2.5em;
  }
  .menu3 a p {
    font-size: 2.5em;
  }
  .menu4 a p:first-child {
    font-size: 2.5em;
  }
  .menu4 a p {
    font-size: 2.5em;
  }
}

@media screen and (min-width: 1920px) {
  header {
    font-size: 1.4em;
  }
  footer {
    height: 3.125em;
  }
  footer a {
    font-size: 1.1em;
  }
  .soon {
    padding: 0.3em 0em 0.3em 0em;
    font-size: 1.3em;
    width: 14%;
  }
  .bloc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .menu {
    padding: 1.25em 0em 1.25em 0em;
    height: 46.875em;
  }
  .menu1 a p:nth-child(2) {
    font-size: 3.4375em;
  }
  .menu1 a p {
    font-size: 3.4375em;
  }
  .menu2 a p:first-child {
    font-size: 3.125em;
  }
  .menu2 a p {
    font-size: 3.4375em;
  }
  .menu3 a p:first-child {
    font-size: 3.4375em;
  }
  .menu3 a p {
    font-size: 3.4375em;
  }
  .menu4 a p:first-child {
    font-size: 3.4375em;
  }
  .menu4 a p {
    font-size: 3.4375em;
  }
}
/*# sourceMappingURL=frontpage.css.map */