h1 a {
  text-decoration: none;
  color: #EFC64F;
}

.menu-3 {
  width: 60%;
  height: auto;
  margin: auto;
  margin-bottom: 5em;
  margin-top: 5em;
  background-color: #F9F9F9;
}

.header-m-3 {
  text-align: center;
  padding-top: 3.125em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title-m-3 {
  font-family: 'Dancing Script', cursive;
  font-size: 4em;
  margin-bottom: 1.2em;
  font-weight: lighter;
  background: -webkit-gradient(linear, left top, right bottom, from(#0D47A1), to(#29B6F6));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dishes-m-3 {
  text-align: center;
  color: #424242;
  font-family: 'Dancing Script', cursive;
  font-size: 1.5em;
}

.m-3-1, .m-3-2, .m-3-3 {
  color: black;
}

.ul-m3-1, .ul-m3-2, .ul-m3-3 {
  list-style: none;
}

.ul-m3-1 li, .ul-m3-2 li, .ul-m3-3 li {
  color: #424242;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 5em 1em 5em;
}

section {
  padding: 2em 0 2em 0;
}

.title-m-3, .ul-m3-1 li, .ul-m3-2 li, .ul-m3-3 li {
  font-family: 'Sriracha', cursive;
}

.m-3-1, .m-3-2, .m-3-3 {
  line-height: 1;
}

.m-3-1, .m-3-2, .m-3-3 {
  display: inline-block;
}

.m-3-1:after, .m-3-2:after, .m-3-3:after {
  content: '';
  display: block;
  height: 0.125em;
  width: 0;
  border-radius: 0.625em;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, right top, left top, from(#1CB5E0), to(#000046));
  background: linear-gradient(to left, #1CB5E0, #000046);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.m-3-1:hover:after, .m-3-2:hover:after, .m-3-3:hover:after {
  width: 100%;
  -webkit-transition: width .7s ease, background-color .7s ease;
  transition: width .7s ease, background-color .7s ease;
}

footer div {
  width: 30%;
}

.retour:hover {
  -webkit-animation: anim 0.1s;
          animation: anim 0.1s;
  -webkit-animation-iteration-count: 5;
          animation-iteration-count: 5;
}

.mentions:hover {
  -webkit-animation: anim 0.1s;
          animation: anim 0.1s;
  -webkit-animation-iteration-count: 5;
          animation-iteration-count: 5;
}

.contact:hover {
  -webkit-animation: anim 0.1s;
          animation: anim 0.1s;
  -webkit-animation-iteration-count: 5;
          animation-iteration-count: 5;
}

@-webkit-keyframes anim {
  0% {
    margin: 0;
  }
  15% {
    margin-top: -2px;
  }
  33% {
    margin-left: -5px;
  }
  45% {
    margin-top: 2px;
  }
  66% {
    margin-left: 5px;
  }
  100% {
    margin: 0px;
  }
}

.m-3-1 span, .m-3-2 span, .m-3-3 span {
  display: inline-block;
  position: relative;
}

.m-3-1 span:before, .m-3-1 span:after, .m-3-2 span:before, .m-3-2 span:after, .m-3-3 span:before, .m-3-3 span:after {
  content: "";
  position: absolute;
  border-radius: 0.625em;
  top: 50%;
}

.m-3-1 span:before, .m-3-2 span:before, .m-3-3 span:before {
  right: 100%;
  margin-right: 0.9375em;
}

.m-3-1 span:after, .m-3-2 span:after, .m-3-3 span:after {
  left: 100%;
  margin-left: 0.9375em;
}

.m-3-1 span:before, .m-3-1 span:after {
  border: 0.05em solid #0D47A1;
  width: 4.3em;
}

.m-3-2 span:before, .m-3-2 span:after {
  border: 0.05em solid #2361c2;
  width: 5em;
}

.m-3-3 span:before, .m-3-3 span:after {
  border: 0.05em solid #1CB5E0;
  width: 5em;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .menu-3 {
    width: 90%;
  }
  .header-m-3 {
    padding-top: 3.125em;
  }
  .ul-m3-1, .ul-m3-2, .ul-m3-3 {
    list-style: none;
  }
  .ul-m3-1 li, .ul-m3-1 em, .ul-m3-2 li, .ul-m3-2 em, .ul-m3-3 li, .ul-m3-3 em {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1em 1em 1em 1em;
  }
  .m-3-1, .m-3-2, .m-3-3 {
    font-size: 1.3em;
  }
  .title-m-3 {
    font-size: 3em;
  }
  .m-3-1 span:before, .m-3-1 span:after {
    display: none;
  }
  .m-3-2 span:before, .m-3-2 span:after {
    display: none;
  }
  .m-3-3 span:before, .m-3-3 span:after {
    display: none;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .menu-3 {
    width: 90%;
  }
  .header-m-3 {
    padding-top: 3.125em;
  }
  .ul-m3-1, .ul-m3-2, .ul-m3-3 {
    list-style: none;
  }
  .ul-m3-1 li, .ul-m3-2 li, .ul-m3-3 li {
    padding: 1em 2em 1em 2em;
    text-align: left;
  }
  .title-m-3 {
    font-size: 3em;
  }
  .m-3-1 span:before, .m-3-1 span:after {
    width: 0.2em;
  }
  .m-3-2 span:before, .m-3-2 span:after {
    width: 0.2em;
  }
  .m-3-3 span:before, .m-3-3 span:after {
    width: 0.2em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .menu-3 {
    width: 80%;
  }
  .header-m-3 {
    padding-top: 3.125em;
  }
  .ul-m3-1 li, .ul-m3-2 li, .ul-m3-3 li {
    padding: 1em 3em 1em 3em;
  }
  .title-m-3 {
    font-size: 3em;
  }
  .m-3-1 span:before, .m-3-1 span:after {
    width: 2.4em;
  }
  .m-3-2 span:before, .m-3-2 span:after {
    width: 2.8em;
  }
  .m-3-3 span:before, .m-3-3 span:after {
    width: 2.9em;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .menu-3 {
    width: 70%;
  }
  .ul-m3-1 li, .ul-m3-2 li, .ul-m3-3 li {
    padding: 1em 4em 1em 4em;
    font-size: 1.2em;
    text-align: left;
  }
  .ul-m3-1 em, .ul-m3-2 em, .ul-m3-3 em {
    text-align: right;
  }
  .title-m-3 {
    font-size: 3em;
  }
  .m-3-1 span:before, .m-3-1 span:after {
    width: 2.9em;
  }
  .m-3-2 span:before, .m-3-2 span:after {
    width: 3.2em;
  }
  .m-3-3 span:before, .m-3-3 span:after {
    width: 3.3em;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .menu-3 {
    width: 80%;
  }
  .ul-m3-1 li, .ul-m3-2 li, .ul-m3-3 li {
    padding: 1em 4em 1em 4em;
    font-size: 1.4em;
    text-align: left;
  }
  .ul-m3-1 em, .ul-m3-2 em, .ul-m3-3 em {
    text-align: right;
  }
  .title-m-3 {
    font-size: 3em;
  }
  .m-3-1 span:before, .m-3-1 span:after {
    width: 6.9em;
  }
  .m-3-2 span:before, .m-3-2 span:after {
    width: 7.2em;
  }
  .m-3-3 span:before, .m-3-3 span:after {
    width: 7.4em;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .menu-3 {
    width: 80%;
  }
  .ul-m3-1 li, .ul-m3-2 li, .ul-m3-3 li {
    padding: 1em 3em 1em 3em;
    font-size: 2em;
    text-align: left;
  }
  .ul-m3-1 em, .ul-m3-2 em, .ul-m3-3 em {
    text-align: right;
  }
  .m-3-1, .m-3-2, .m-3-3 {
    font-size: 2em;
  }
  .m-3 {
    font-size: 2em;
  }
  .m-3-1 span:before, .m-3-1 span:after {
    width: 5.1em;
  }
  .m-3-2 span:before, .m-3-2 span:after {
    width: 5.4em;
  }
  .m-3-3 span:before, .m-3-3 span:after {
    width: 5.5em;
  }
}

@media screen and (min-width: 1920px) {
  .menu-3 {
    width: 80%;
  }
  .ul-m3-1 li, .ul-m3-2 li, .ul-m3-3 li {
    padding: 1em 3em 1em 3em;
    font-size: 2.5em;
    text-align: left;
  }
  .ul-m3-1 em, .ul-m3-2 em, .ul-m3-3 em {
    text-align: right;
  }
  .m-3 {
    font-size: 3em;
  }
  .title-m-3 {
    font-size: 6em;
  }
  .m-3-1, .m-3-2, .m-3-3 {
    font-size: 3em;
  }
  .m-3-1 span:before, .m-3-1 span:after {
    width: 4.2em;
  }
  .m-3-2 span:before, .m-3-2 span:after {
    width: 4.4em;
  }
  .m-3-3 span:before, .m-3-3 span:after {
    width: 4.6em;
  }
}
/*# sourceMappingURL=menu3.css.map */