h1 a {
    text-decoration: none;
    color: #EFC64F;
}
.menu-1 {
    width: 60%;
    height: auto;
    margin: auto;
    margin-bottom: 80px;
    margin-top: 80px;
    background-color: #FCDFDB;
}

.header-m-1 {
    text-align: center;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title-m-1 {
    font-family: 'Devonshire', cursive;
    font-size: 4em;
    color: #3e2723;
    margin: 30px 0px;
    font-weight: lighter;
}

.dishes-m-1 {
    text-align: center;
    color: #3e2723;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
}

.ul-m1 {
    list-style: none;
        li {
        color: #424242;
        display: flex;
        justify-content: space-between;
        padding: 1em 5em 1em 5em;
        }
}

section{
    padding: 2em 0 2em 0;
}

.bottom-m-1 {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 30px;
        
        i{
            font-size: 2em;
        }
}

.ending {
    font-family: 'Devonshire', cursive;
    display: inline-flex;
    width: auto;
    justify-content: center;
    color: #4e342e;
    font-size: 2.5em;
    font-weight: lighter;
        
        i{
            font-size: 1em;
            margin-right: 0.2em;
        }
}

.m-1 {
    line-height: 1;
}
  
.m-1 {
    display: inline-block;
}
  
.m-1:after {
    content: '';
    display: block;
    height: 4px;
    width: 0;
    border-radius: 10px;
    background: transparent;
    background: -webkit-gradient(linear, left bottom, right bottom, from(#3e2723), color-stop(#4e342e), color-stop(#6d4c41), color-stop(#8d6e63), to(#bcaaa4));
    background: linear-gradient(to right, #3e2723, #4e342e, #6d4c41, #8d6e63, #8d6e63, #bcaaa4);
}
.m-1:hover:after {
    width: 100%;
    transition: width .7s ease, background-color .7s ease;
}

@media only screen and (min-width: 320px) and (max-width: 479px)
{
    .menu-1 {
        width: 90%;
    }
    
    .header-m-1 {
        padding-top: 50px;
    }
     
    .ul-m1 {
        list-style: none;
            li, em {
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 1em 1em 1em 1em;
            }
    }
      
    .bottom-m-1 {
        padding-bottom: 20px;
    }

}
@media only screen and (min-width: 480px) and (max-width: 767px)
{
    .menu-1 {
        width: 90%;
    }
    
    .header-m-1 {
        padding-top: 50px;
    }
     
    .ul-m1 {
        list-style: none;
            li {
            display:flex;
            justify-content: space-between;
            padding: 1em 2em 1em 2em;
            }
    }
      
    .bottom-m-1 {
        padding-bottom: 20px;
    }


}
@media only screen and (min-width: 768px) and (max-width: 1023px)
{
    .menu-1 {
        width: 80%;
    }
    
    .header-m-1 {
        padding-top: 50px;
    }
     
    .ul-m1 {
            li{
            padding: 1em 3em 1em 3em;
            }
    }
      
    .bottom-m-1 {
        padding-bottom: 20px;
    }


}
@media screen and (min-width: 1024px) and (max-width: 1279px)
{
    .menu-1 {
        width: 70%;
    }

    .ul-m1 {
        li{
        padding: 1em 4em 1em 4em;
        font-size: 1.2em;
        text-align: left;
        }
        em{
            text-align: right;
        }
    }

}
@media screen and (min-width: 1280px) and (max-width: 1439px)
{
    .menu-1 {
        width: 80%;
    }

    .ul-m1 {
        li{
        padding: 1em 4em 1em 4em;
        font-size: 1.4em;
        text-align: left;
        }

        em{
            text-align: right;
        }
    }

}
@media screen and (min-width: 1440px) and (max-width: 1919px)
{
    .menu-1 {
        width: 80%;
    }

    .ul-m1 {
        li{
            display: flex;
            justify-content: space-between;
            padding: 1em 3em 1em 3em;
            font-size: 2em;
            text-align: left;
        }
        em{
            text-align: right;
        }
    }

    .m-1
    {
        font-size: 2em;
    }
}
@media screen and (min-width: 1920px)
{
    .menu-1 {
        width: 80%;
    }

    .ul-m1 {
        li{
            display: flex;
            justify-content: space-between;
            padding: 1em 3em 1em 3em;
            font-size: 2.5em;
            text-align: left;
        }
        em{
            text-align: right;
        }
    }

    .m-1{
        font-size: 3em;
    }

    .title-m-1{
        font-size: 6em;
    }

    .ending{
        font-size: 4em;
    }
}    
