h1 a {
    text-decoration: none;
    color: #EFC64F;
}

.menu-4 {
    width: 60%;
    height: auto;
    margin: auto;
    margin-bottom: 80px;
    margin-top: 80px;
    background-color: #FDFFFD;
}

.header-m-4 {
    text-align: center;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title-m-4 {
    font-family: 'Kaushan Script', cursive;
    font-size: 4em;
    margin: 30px 0px;
    font-weight: lighter;
    background: -webkit-gradient(linear, left top, right bottom, from(#33691E), to(#CDDC39));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dishes-m-4 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
}

.ul-m4-1, .ul-m4-2, .ul-m4-3 {
    list-style: none;
    font-family: 'Noto Serif', serif;
        
        li{
            color: black;
            display: flex;
            justify-content: space-between;
            padding: 1em 5em 1em 5em;
        }
}

section {
    padding: 2em 0 2em 0;
}

.title-m-4{
    font-family: 'Noto Serif', serif;
}

.m-4-1, .m-4-2, .m-4-3 {
    line-height: 1;
}

.m-4-1, .m-4-2, .m-4-3 {
    display: inline-block;
}
  
.m-4-1:after, .m-4-2:after, .m-4-3:after {
    content: '';
    display: block;
    height: 4px;
    width: 0;
    border-radius: 10px;
    background: -webkit-linear-gradient(to right, #061700, #52c234);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #061700, #52c234); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.m-4-1:hover:after, .m-4-2:hover:after, .m-4-3:hover:after {
    width: 100%;
    transition: width .7s ease, background-color .7s ease;
}

@media only screen and (min-width: 320px) and (max-width: 479px)
{
    .menu-4 {
        width: 90%;
    }
    
    .header-m-4 {
        padding-top: 50px;
    }
     
    .ul-m4-1, .ul-m4-2, .ul-m4-3 {
        list-style: none;
            li, em {
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 1em 1em 1em 1em;
            }
    }

    .m-4-1, .m-4-2, .m-4-3{
        font-size: 1.3em;
    }
 
    .title-m-4{
        font-size: 3em;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px)
{
    .menu-4 {
        width: 90%;
    }
    
    .header-m-4 {
        padding-top: 50px;
    }
     
    .ul-m4-1, .ul-m4-2, .ul-m4-3 {
        list-style: none;
            li {
            display:flex;
            justify-content: space-between;
            padding: 1em 1em 1em 1em;
            text-align: left;
            }
            
    }

    .title-m-4{
        font-size: 3em;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px)
{
    .menu-4 {
        width: 80%;
    }
    
    .header-m-4 {
        padding-top: 50px;
    }
     
    .ul-m4-1, .ul-m4-2, .ul-m4-3 {
            li{
            padding: 1em 2em 1em 2em;
            text-align: left;
            }
    }

    .title-m-4{
        font-size: 3em;
    }

 
}
@media screen and (min-width: 1024px) and (max-width: 1279px)
{
    .menu-4 {
        width: 80%;
    }

    .ul-m4-1, .ul-m4-2, .ul-m4-3 {
        li{
        padding: 1em 3em 1em 3em;
        font-size: 1.2em;
        text-align: left;
        }
        em{
            text-align: right;
        }
    }

    .title-m-4{
        font-size: 3em;
    }

}
@media screen and (min-width: 1280px) and (max-width: 1439px)
{
    .menu-4 {
        width: 80%;
    }

    .ul-m4-1, .ul-m4-2, .ul-m4-3 {
        li{
        padding: 1em 4em 1em 4em;
        font-size: 1.4em;
        text-align: left;
        }

        em{
            text-align: right;
        }
    }

    .title-m-4{
        font-size: 3em;
    }

}
@media screen and (min-width: 1440px) and (max-width: 1919px)
{
    .menu-4 {
        width: 80%;
    }

    .ul-m4-1, .ul-m4-2, .ul-m4-3 {
        li{
            display: flex;
            justify-content: space-between;
            padding: 1em 3em 1em 3em;
            font-size: 2em;
            text-align: left;
        }
        em{
            text-align: right;
        }
    }

    .m-3
    {
        font-size: 2em;
    }
}
@media screen and (min-width: 1920px)
{
    .menu-4 {
        width: 80%;
    }

    .ul-m4-1, .ul-m4-2, .ul-m4-3 {
        li{
            display: flex;
            justify-content: space-between;
            padding: 1em 3em 1em 3em;
            font-size: 2.5em;
            text-align: left;
        }
        em{
            text-align: right;
        }
    }

    .m-4{
        font-size: 3em;
    }

    .title-4-3{
        font-size: 6em;
    }

    .m-4-1, .m-4-2, .m-4-3{
        font-size: 3em;
    }
}  