* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #569C87;
  color: #EFC64F;
  font-size: 2em;
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header a {
  list-style: none;
}

footer {
  background-color: #569C87;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3.125em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer div {
  width: 50%;
}

footer a {
  color: #EFC64F;
  font-size: 1.3em;
  text-decoration: none;
}

.soon {
  background: #569C87;
  display: inline-block;
  border-radius: 0.625em;
  padding: 0.3em 1em 0.3em 1em;
  color: #EFC64F;
  margin: 2em 0em 3em 0em;
  font-size: 4em;
  width: 35%;
}

.conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 75%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu {
  padding: 15.625em 0 15.625em 0;
  margin: 1.875em auto 1.875em auto;
  -webkit-box-shadow: 0em 0.0625em 1.125em 0.1875em rgba(0, 0, 0, 0.43);
  box-shadow: 0em 0.0625em 1.125em 0.1875em rgba(0, 0, 0, 0.43);
  width: 35%;
  height: auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu a:hover {
  -webkit-transform: scale(1.15);
  /* Safari et Chrome */
  /* Firefox */
  /* Internet Explorer 9 */
  /* Opera */
  transform: scale(1.15);
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
  opacity: 0.8;
}

.menu1 {
  background-color: #FCDFDB;
}

.menu1 a {
  text-decoration: none;
}

.menu1 a p:nth-child(2) {
  font-family: 'Devonshire', cursive;
  color: #3E2723;
  font-size: 3.125em;
}

.menu1 a p {
  font-family: 'Sriracha', cursive;
  color: #3E2723;
  font-size: 3.125em;
  font-weight: 700;
}

.menu2 {
  background-color: #FEF5FD;
}

.menu2 a {
  text-decoration: none;
}

.menu2 a p:first-child {
  font-family: 'Croissant One', cursive;
  font-size: 2.1875em;
  background: -webkit-gradient(linear, left top, right bottom, from(#FB8C00), to(#7986CB));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu2 a p {
  color: #FB8C00;
  font-family: 'Noto Serif', serif;
  font-size: 3.125em;
  font-weight: 700;
}

.menu3 {
  background-color: #F9F9F9;
}

.menu3 a {
  text-decoration: none;
}

.menu3 a p:first-child {
  font-family: 'Dancing Script', cursive;
  font-size: 3.125em;
  background: -webkit-gradient(linear, left top, right bottom, from(#0D47A1), to(#29B6F6));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu3 a p {
  font-family: 'Kaushan Script', cursive;
  font-size: 3.125em;
  color: #1976D2;
}

.menu4 {
  background-color: #FDFFFD;
}

.menu4 a {
  text-decoration: none;
}

.menu4 a p:first-child {
  font-family: 'Kaushan Script', cursive;
  font-size: 3.125em;
  background: -webkit-gradient(linear, left top, right bottom, from(#33691E), to(#CDDC39));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu4 a p {
  font-family: 'Kaushan Script', cursive;
  font-size: 3.125em;
  color: #689F38;
}

i {
  font-size: 3.875em;
  display: block;
  background: -webkit-gradient(linear, left center, right center, from(#e53935), to(#FB8C00));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.soon span {
  height: 0.3em;
  width: 0.3em;
  border-radius: 50%;
  display: inline-block;
  margin: 0.07em;
  -webkit-animation: scaling 2.5s ease-in-out infinite;
          animation: scaling 2.5s ease-in-out infinite;
  margin-bottom: 0;
}

@-webkit-keyframes scaling {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    background-color: #e57373;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #1976D2;
  }
  100% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    background-color: #C6FF00;
  }
}

@keyframes scaling {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    background-color: #e57373;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #1976D2;
  }
  100% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    background-color: #C6FF00;
  }
}

.soon span:nth-child(0) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.soon span:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.soon span:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.soon span:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.mentions:hover, .contact:hover {
  -webkit-animation: anim 0.1s;
          animation: anim 0.1s;
  -webkit-animation-iteration-count: 5;
          animation-iteration-count: 5;
}

@keyframes anim {
  0%, 100% {
    margin: 0;
  }
  15% {
    margin-top: -2px;
  }
  33% {
    margin-left: -5px;
  }
  45% {
    margin-top: 2px;
  }
  66% {
    margin-left: 5px;
  }
}

/** SMARTPHONE **/
/** SMARTPHONE **/
/** SMARTPHONE **/
/** SMARTPHONE **/
/** SMARTPHONE **/
@media only screen and (min-width: 320px) and (max-width: 479px) {
  header {
    font-size: 0.9em;
  }
  footer {
    height: 1.875em;
  }
  footer a {
    font-size: 0.7em;
  }
  .soon {
    padding: 0.3em 0em 0.3em 0em;
    font-size: 0.625em;
    width: 30%;
  }
  .menu {
    padding: 1.25em 0em 1.25em 0em;
    width: 100%;
    height: 9.375em;
  }
  .menu1 a p:nth-child(2) {
    font-size: 1.25em;
  }
  .menu1 a p {
    font-size: 1.25em;
  }
  .menu2 a p:first-child {
    font-size: 0.9375em;
  }
  .menu2 a p {
    font-size: 1.25em;
  }
  .menu3 a p:first-child {
    font-size: 1.25em;
  }
  .menu3 a p {
    font-size: 1.25em;
  }
  .menu4 a p:first-child {
    font-size: 1.25em;
  }
  .menu4 a p {
    font-size: 1.25em;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  header {
    font-size: 0.9em;
  }
  footer {
    height: 1.875em;
  }
  footer a {
    font-size: 0.9em;
  }
  .soon {
    padding: 0.3em 0em 0.3em 0em;
    font-size: 0.9em;
    width: 30%;
  }
  .menu {
    padding: 1.25em 0em 1.25em 0em;
    width: 100%;
    height: 11.25em;
  }
  .menu1 a p:nth-child(2) {
    font-size: 1.5625em;
  }
  .menu1 a p {
    font-size: 1.5625em;
  }
  .menu2 a p:first-child {
    font-size: 1.25em;
  }
  .menu2 a p {
    font-size: 1.5625em;
  }
  .menu3 a p:first-child {
    font-size: 1.5625em;
  }
  .menu3 a p {
    font-size: 1.5625em;
  }
  .menu4 a p:first-child {
    font-size: 1.5625em;
  }
  .menu4 a p {
    font-size: 1.5625em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  header {
    font-size: 1.1em;
  }
  footer {
    height: 1.875em;
  }
  footer a {
    font-size: 1.1em;
  }
  .soon {
    padding: 0.3em 0em 0.3em 0em;
    font-size: 1.1em;
    width: 20%;
  }
  .menu {
    padding: 1.25em 0em 1.25em 0em;
    width: 100%;
    height: 13.75em;
  }
  .menu1 a p:nth-child(2) {
    font-size: 2.1875em;
  }
  .menu1 a p {
    font-size: 2.1875em;
  }
  .menu2 a p:first-child {
    font-size: 1.875em;
  }
  .menu2 a p {
    font-size: 2.1875em;
  }
  .menu3 a p:first-child {
    font-size: 2.1875em;
  }
  .menu3 a p {
    font-size: 2.1875em;
  }
  .menu4 a p:first-child {
    font-size: 1.875em;
  }
  .menu4 a p {
    font-size: 1.875em;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  header {
    font-size: 1.2em;
  }
  footer {
    height: 1.875em;
  }
  footer a {
    font-size: 1.2em;
  }
  .soon {
    padding: 0.3em 0em 0.3em 0em;
    font-size: 1.2em;
    width: 17%;
  }
  .menu {
    padding: 1.25em 0em 1.25em 0em;
    height: 34.375em;
  }
  .menu1 a p:nth-child(2) {
    font-size: 2.5em;
  }
  .menu1 a p {
    font-size: 2.5em;
  }
  .menu2 a p:first-child {
    font-size: 2.1875em;
  }
  .menu2 a p {
    font-size: 2.5em;
  }
  .menu3 a p:first-child {
    font-size: 2.5em;
  }
  .menu3 a p {
    font-size: 2.5em;
  }
  .menu4 a p:first-child {
    font-size: 2.5em;
  }
  .menu4 a p {
    font-size: 2.5em;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
  header {
    font-size: 1.3em;
  }
  footer {
    height: 1.875em;
  }
  footer a {
    font-size: 1.3em;
  }
  .soon {
    padding: 0.3em 0em 0.3em 0em;
    font-size: 1.3em;
    width: 17%;
  }
  .menu {
    padding: 1.25em 0em 1.25em 0em;
    height: 34.375em;
  }
  .menu1 a p:nth-child(2) {
    font-size: 2.5em;
  }
  .menu1 a p {
    font-size: 2.5em;
  }
  .menu2 a p:first-child {
    font-size: 2.1875em;
  }
  .menu2 a p {
    font-size: 2.5em;
  }
  .menu3 a p:first-child {
    font-size: 2.5em;
  }
  .menu3 a p {
    font-size: 2.5em;
  }
  .menu4 a p:first-child {
    font-size: 2.5em;
  }
  .menu4 a p {
    font-size: 2.5em;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
  header {
    font-size: 1.4em;
  }
  footer {
    height: 1.875em;
  }
  footer a {
    font-size: 1.1em;
  }
  .soon {
    padding: 0.3em 0em 0.3em 0em;
    font-size: 1.7em;
    width: 17%;
  }
  .menu {
    padding: 1.25em 0em 1.25em 0em;
    height: 34.375em;
  }
  .menu1 a p:nth-child(2) {
    font-size: 2.5em;
  }
  .menu1 a p {
    font-size: 2.5em;
  }
  .menu2 a p:first-child {
    font-size: 2.1875em;
  }
  .menu2 a p {
    font-size: 2.5em;
  }
  .menu3 a p:first-child {
    font-size: 2.5em;
  }
  .menu3 a p {
    font-size: 2.5em;
  }
  .menu4 a p:first-child {
    font-size: 2.5em;
  }
  .menu4 a p {
    font-size: 2.5em;
  }
}

@media screen and (min-width: 1920px) {
  header {
    font-size: 1.4em;
  }
  footer {
    height: 3.125em;
  }
  footer a {
    font-size: 1.1em;
  }
  .soon {
    padding: 0.3em 0em 0.3em 0em;
    font-size: 1.3em;
    width: 14%;
  }
  .bloc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .menu {
    padding: 1.25em 0em 1.25em 0em;
    height: 46.875em;
  }
  .menu1 a p:nth-child(2) {
    font-size: 3.4375em;
  }
  .menu1 a p {
    font-size: 3.4375em;
  }
  .menu2 a p:first-child {
    font-size: 3.125em;
  }
  .menu2 a p {
    font-size: 3.4375em;
  }
  .menu3 a p:first-child {
    font-size: 3.4375em;
  }
  .menu3 a p {
    font-size: 3.4375em;
  }
  .menu4 a p:first-child {
    font-size: 3.4375em;
  }
  .menu4 a p {
    font-size: 3.4375em;
  }
}

h1 a {
  text-decoration: none;
  color: #EFC64F;
}

.menu-1 {
  width: 60%;
  height: auto;
  margin: auto;
  margin-bottom: 5em;
  margin-top: 5em;
  background-color: #FCDFDB;
}

.header-m-1 {
  text-align: center;
  padding-top: 3.125em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title-m-1 {
  font-family: 'Devonshire', cursive;
  font-size: 4em;
  color: #3e2723;
  margin-bottom: 1.2em;
  font-weight: lighter;
}

.dishes-m-1 {
  text-align: center;
  color: #3e2723;
  font-family: 'Dancing Script', cursive;
  font-size: 1.5em;
}

.ul-m1 {
  list-style: none;
}

.ul-m1 li {
  color: #424242;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 5em 1em 5em;
}

section {
  padding: 2em 0 2em 0;
}

.bottom-m-1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-bottom: 1.875em;
}

.bottom-m-1 i {
  font-size: 2em;
}

.ending {
  font-family: 'Devonshire', cursive;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #4e342e;
  font-size: 2.5em;
  font-weight: lighter;
}

.ending i {
  font-size: 1em;
  margin-right: 0.2em;
}

.m-1-1, .m-1-2, .m-1-3 {
  display: inline-block;
}

.m-1-1:after, .m-1-2:after, .m-1-3:after {
  content: '';
  display: block;
  height: 0.125em;
  width: 0;
  border-radius: 0.625em;
  background: transparent;
  background: -webkit-gradient(linear, left top, right top, from(#3e2723), color-stop(#4e342e), color-stop(#6d4c41), color-stop(#8d6e63), color-stop(#8d6e63), to(#bcaaa4));
  background: linear-gradient(to right, #3e2723, #4e342e, #6d4c41, #8d6e63, #8d6e63, #bcaaa4);
}

.m-1-1:hover:after, .m-1-2:hover:after, .m-1-3:hover:after {
  width: 100%;
  -webkit-transition: width .7s ease, background-color .7s ease;
  transition: width .7s ease, background-color .7s ease;
}

footer div {
  width: 30%;
}

.retour:hover, .mentions:hover, .contact:hover {
  -webkit-animation: anim 0.1s;
          animation: anim 0.1s;
  -webkit-animation-iteration-count: 5;
          animation-iteration-count: 5;
}

@-webkit-keyframes anim {
  0% {
    margin: 0;
  }
  15% {
    margin-top: -2px;
  }
  33% {
    margin-left: -5px;
  }
  45% {
    margin-top: 2px;
  }
  66% {
    margin-left: 5px;
  }
  100% {
    margin: 0px;
  }
}

.m-1-1 span, .m-1-2 span, .m-1-3 span {
  display: block;
  position: relative;
}

.m-1-1 span:before, .m-1-1 span:after, .m-1-2 span:before, .m-1-2 span:after, .m-1-3 span:before, .m-1-3 span:after {
  content: "";
  position: absolute;
  border-radius: 0.625em;
  top: 50%;
  margin: 0em 0.625em 0em 0.625em;
  border: 0.05em solid #3e2723;
  width: 4.3em;
}

.m-1-1 span:before, .m-1-2 span:before, .m-1-3 span:before {
  right: 100%;
}

.m-1-1 span:after, .m-1-2 span:after, .m-1-3 span:after {
  left: 100%;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .menu-1 {
    width: 90%;
  }
  .header-m-1 {
    padding-top: 3.125em;
  }
  .ul-m1 {
    list-style: none;
  }
  .ul-m1 li, .ul-m1 em {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1em 1em 1em 1em;
  }
  .bottom-m-1 {
    padding-bottom: 20px;
  }
  .m-1-1 span:before, .m-1-1 span:after, .m-1-2 span:before, .m-1-2 span:after, .m-1-3 span:before, .m-1-3 span:after {
    display: none;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .menu-1 {
    width: 90%;
  }
  .header-m-1 {
    padding-top: 3.125em;
  }
  .ul-m1 {
    list-style: none;
  }
  .ul-m1 li {
    text-align: left;
    padding: 1em 2em 1em 2em;
  }
  .ul-m1 li em {
    text-align: right;
  }
  .bottom-m-1 {
    padding-bottom: 1.25em;
  }
  .m-1-1 span:before, .m-1-1 span:after, .m-1-2 span:before, .m-1-2 span:after, .m-1-3 span:before, .m-1-3 span:after {
    width: 0.2em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .menu-1 {
    width: 80%;
  }
  .header-m-1 {
    padding-top: 3.125em;
  }
  .ul-m1 li {
    padding: 1em 3em 1em 3em;
  }
  .bottom-m-1 {
    padding-bottom: 1.25em;
  }
  .m-1-1 span:before, .m-1-1 span:after {
    width: 5.1em;
  }
  .m-1-2 span:before, .m-1-2 span:after {
    width: 4.1em;
  }
  .m-1-3 span:before, .m-1-3 span:after {
    width: 3.45em;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .menu-1 {
    width: 70%;
  }
  .ul-m1 li {
    padding: 1em 4em 1em 4em;
    font-size: 1.2em;
    text-align: left;
  }
  .ul-m1 li em {
    text-align: right;
  }
  .m-1-1 span:before, .m-1-1 span:after {
    width: 5.7em;
  }
  .m-1-2 span:before, .m-1-2 span:after {
    width: 4.75em;
  }
  .m-1-3 span:before, .m-1-3 span:after {
    width: 4.05em;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .menu-1 {
    width: 80%;
  }
  .ul-m1 li {
    padding: 1em 4em 1em 4em;
    font-size: 1.4em;
    text-align: left;
  }
  .ul-m1 li em {
    text-align: right;
  }
  .m-1-1 span:before, .m-1-1 span:after {
    width: 9.6em;
  }
  .m-1-2 span:before, .m-1-2 span:after {
    width: 8.65em;
  }
  .m-1-3 span:before, .m-1-3 span:after {
    width: 7.95em;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .menu-1 {
    width: 80%;
  }
  .ul-m1 li {
    padding: 1em 3em 1em 3em;
    font-size: 2em;
    text-align: left;
  }
  .ul-m1 li em {
    text-align: right;
  }
  .m-1 {
    font-size: 2em;
  }
  .m-1-1, .m-1-2, .m-1-3 {
    font-size: 2em;
  }
  .m-1-1 span:before, .m-1-1 span:after {
    width: 7.9em;
  }
  .m-1-2 span:before, .m-1-2 span:after {
    width: 6.95em;
  }
  .m-1-3 span:before, .m-1-3 span:after {
    width: 6.2em;
  }
}

@media screen and (min-width: 1920px) {
  .menu-1 {
    width: 80%;
  }
  .ul-m1 li {
    padding: 1em 3em 1em 3em;
    font-size: 2.5em;
    text-align: left;
  }
  .ul-m1 li em {
    text-align: right;
  }
  .m-1 {
    font-size: 3em;
  }
  .m-1-1, .m-1-2, .m-1-3 {
    font-size: 3em;
  }
  .title-m-1 {
    font-size: 6em;
  }
  .ending {
    font-size: 4em;
  }
  .m-1-1 span:before, .m-1-1 span:after {
    width: 6.85em;
  }
  .m-1-2 span:before, .m-1-2 span:after {
    width: 5.95em;
  }
  .m-1-3 span:before, .m-1-3 span:after {
    width: 5.2em;
  }
}

h1 a {
  text-decoration: none;
  color: #EFC64F;
}

.menu-2 {
  width: 60%;
  height: auto;
  margin: auto;
  margin-bottom: 5em;
  margin-top: 5em;
  background-color: #FEF5FD;
}

.header-m-2 {
  text-align: center;
  padding-top: 3.125em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title-m-2 {
  font-family: 'Croissant One', cursive;
  font-size: 3em;
  color: #3e2723;
  margin-bottom: 1.2em;
  font-weight: lighter;
  background: -webkit-gradient(linear, left top, right bottom, from(#FB8C00), to(#5464b4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dishes-m-2 {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 1.5em;
}

section {
  padding: 2em 0 2em 0;
}

.ul-m2-1, .ul-m2-2, .ul-m2-3 {
  list-style: none;
}

.ul-m2-1 li, .ul-m2-2 li, .ul-m2-3 li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 5em 1em 5em;
}

.m-2-1, .ul-m2-1 li {
  color: #FFB74D;
}

.m-2-2, .ul-m2-2 li {
  color: #7E57C2;
}

.m-2-3, .ul-m2-3 li {
  color: #1565C0;
}

.title-m-2, .ul-m2-1 li, .ul-m2-2 li, .ul-m2-3 li {
  font-family: 'Noto Serif', serif;
  font-weight: lighter;
}

.title-m-2 {
  font-size: 1.2em;
}

.m-2-1, .m-2-2, .m-2-3 {
  display: inline-block;
}

.m-2-1:after, .m-2-2:after, .m-2-3:after {
  content: '';
  display: block;
  height: 0.125em;
  width: 0;
  border-radius: 0.625em;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, right top, left top, from(#4BC0C8), color-stop(#C779D0), to(#FEAC5E));
  background: linear-gradient(to left, #4BC0C8, #C779D0, #FEAC5E);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.m-2-1:hover:after, .m-2-2:hover:after, .m-2-3:hover:after {
  width: 100%;
  -webkit-transition: width .7s ease, background-color .7s ease;
  transition: width .7s ease, background-color .7s ease;
}

.m-2-1 span, .m-2-2 span, .m-2-3 span {
  display: block;
  position: relative;
}

.m-2-1 span:before, .m-2-1 span:after, .m-2-2 span:before, .m-2-2 span:after, .m-2-3 span:before, .m-2-3 span:after {
  content: "";
  position: absolute;
  border-radius: 0.625em;
  top: 50%;
  margin: 0em 0.625em 0em 0.625em;
  width: 4.3em;
}

.m-2-1 span:before, .m-2-2 span:before, .m-2-3 span:before {
  right: 100%;
}

.m-2-1 span:after, .m-2-2 span:after, .m-2-3 span:after {
  left: 100%;
}

.m-2-1 span:before, .m-2-1 span:after {
  border: 0.05em solid #FB8C00;
}

.m-2-2 span:before, .m-2-2 span:after {
  border: 0.05em solid #C779D0;
}

.m-2-3 span:before, .m-2-3 span:after {
  border: 0.05em solid #4BC0C8;
}

footer div {
  width: 30%;
}

.retour:hover, .mentions:hover, .contact:hover {
  -webkit-animation: anim 0.1s;
          animation: anim 0.1s;
  -webkit-animation-iteration-count: 5;
          animation-iteration-count: 5;
}

@-webkit-keyframes anim {
  0% {
    margin: 0;
  }
  15% {
    margin-top: -2px;
  }
  33% {
    margin-left: -5px;
  }
  45% {
    margin-top: 2px;
  }
  66% {
    margin-left: 5px;
  }
  100% {
    margin: 0px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .menu-2 {
    width: 90%;
  }
  .header-m-2 {
    padding-top: 3.125em;
  }
  .ul-m2-1, .ul-m2-2, .ul-m2-3 {
    list-style: none;
  }
  .ul-m2-1 li, .ul-m2-1 em, .ul-m2-2 li, .ul-m2-2 em, .ul-m2-3 li, .ul-m2-3 em {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1em 1em 1em 1em;
  }
  .m-2-1, .m-2-2, .m-2-3 {
    font-size: 1.3em;
  }
  .title-m-2 {
    font-size: 3em;
  }
  .m-2-1 span:before, .m-2-1 span:after, .m-2-2 span:before, .m-2-2 span:after, .m-2-3 span:before, .m-2-3 span:after {
    display: none;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .menu-2 {
    width: 90%;
  }
  .header-m-2 {
    padding-top: 3.125em;
  }
  .ul-m2-1, .ul-m2-2, .ul-m2-3 {
    list-style: none;
  }
  .ul-m2-1 li, .ul-m2-2 li, .ul-m2-3 li {
    padding: 1em 2em 1em 2em;
    text-align: left;
  }
  .title-m-2 {
    font-size: 3em;
  }
  .m-2-1 span:before, .m-2-1 span:after, .m-2-2 span:before, .m-2-2 span:after, .m-2-3 span:before, .m-2-3 span:after {
    width: 0.2em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .menu-2 {
    width: 80%;
  }
  .header-m-2 {
    padding-top: 3.125em;
  }
  .ul-m2-1 li, .ul-m2-2 li, .ul-m2-3 li {
    padding: 1em 3em 1em 3em;
    text-align: left;
  }
  .ul-m2-1 li em, .ul-m2-2 li em, .ul-m2-3 li em {
    text-align: right;
  }
  .title-m-2 {
    font-size: 3em;
  }
  .m-2-1 span:before, .m-2-1 span:after {
    width: 1.8em;
  }
  .m-2-2 span:before, .m-2-2 span:after {
    width: 2.8em;
  }
  .m-2-3 span:before, .m-2-3 span:after {
    width: 2.3em;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .menu-2 {
    width: 70%;
  }
  .ul-m2-1 li, .ul-m2-2 li, .ul-m2-3 li {
    padding: 1em 4em 1em 4em;
    font-size: 1.2em;
    text-align: left;
  }
  .ul-m2-1 li em, .ul-m2-2 li em, .ul-m2-3 li em {
    text-align: right;
  }
  .title-m-2 {
    font-size: 3em;
  }
  .m-2-1 span:before, .m-2-1 span:after {
    width: 2.4em;
  }
  .m-2-2 span:before, .m-2-2 span:after {
    width: 3.4em;
  }
  .m-2-3 span:before, .m-2-3 span:after {
    width: 2.8em;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .menu-2 {
    width: 80%;
  }
  .ul-m2-1 li, .ul-m2-2 li, .ul-m2-3 li {
    padding: 1em 4em 1em 4em;
    font-size: 1.4em;
    text-align: left;
  }
  .ul-m2-1 em, .ul-m2-2 em, .ul-m2-3 em {
    text-align: right;
  }
  .title-m-2 {
    font-size: 3em;
  }
  .m-2-1 span:before, .m-2-1 span:after {
    width: 6.2em;
  }
  .m-2-2 span:before, .m-2-2 span:after {
    width: 7.2em;
  }
  .m-2-3 span:before, .m-2-3 span:after {
    width: 6.7em;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .menu-2 {
    width: 80%;
  }
  .ul-m2-1 li, .ul-m2-2 li, .ul-m2-3 li {
    padding: 1em 3em 1em 3em;
    font-size: 2em;
    text-align: left;
  }
  .ul-m2-1 li em, .ul-m2-2 li em, .ul-m2-3 li em {
    text-align: right;
  }
  .m-2 {
    font-size: 2em;
  }
  .m-2-1, .m-2-2, .m-2-3 {
    font-size: 2em;
  }
  .title-m-2 {
    font-size: 4em;
  }
  .m-2-1 span:before, .m-2-1 span:after {
    width: 4.5em;
  }
  .m-2-2 span:before, .m-2-2 span:after {
    width: 5.55em;
  }
  .m-2-3 span:before, .m-2-3 span:after {
    width: 5em;
  }
}

@media screen and (min-width: 1920px) {
  .menu-2 {
    width: 80%;
  }
  .ul-m2-1 li, .ul-m2-2 li, .ul-m2-3 li {
    padding: 1em 3em 1em 3em;
    font-size: 2.5em;
    text-align: left;
  }
  .ul-m2-1 li em, .ul-m2-2 li em, .ul-m2-3 li em {
    text-align: right;
  }
  .m-2 {
    font-size: 3em;
  }
  .title-m-2 {
    font-size: 6em;
  }
  .m-2-1, .m-2-2, .m-2-3 {
    font-size: 3em;
  }
  .m-2-1 span:before, .m-2-1 span:after {
    width: 3.55em;
  }
  .m-2-2 span:before, .m-2-2 span:after {
    width: 4.55em;
  }
  .m-2-3 span:before, .m-2-3 span:after {
    width: 4em;
  }
}

h1 a {
  text-decoration: none;
  color: #EFC64F;
}

.menu-3 {
  width: 60%;
  height: auto;
  margin: auto;
  margin-bottom: 5em;
  margin-top: 5em;
  background-color: #F9F9F9;
}

.header-m-3 {
  text-align: center;
  padding-top: 3.125em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title-m-3 {
  font-family: 'Dancing Script', cursive;
  font-size: 4em;
  margin-bottom: 1.2em;
  font-weight: lighter;
  background: -webkit-gradient(linear, left top, right bottom, from(#0D47A1), to(#29B6F6));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dishes-m-3 {
  text-align: center;
  color: #424242;
  font-family: 'Dancing Script', cursive;
  font-size: 1.5em;
}

.m-3-1, .m-3-2, .m-3-3 {
  color: black;
}

.ul-m3-1, .ul-m3-2, .ul-m3-3 {
  list-style: none;
}

.ul-m3-1 li, .ul-m3-2 li, .ul-m3-3 li {
  color: #424242;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 5em 1em 5em;
}

section {
  padding: 2em 0 2em 0;
}

.title-m-3, .ul-m3-1 li, .ul-m3-2 li, .ul-m3-3 li {
  font-family: 'Sriracha', cursive;
}

.m-3-1, .m-3-2, .m-3-3 {
  display: inline-block;
}

.m-3-1:after, .m-3-2:after, .m-3-3:after {
  content: '';
  display: block;
  height: 0.125em;
  width: 0;
  border-radius: 0.625em;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, right top, left top, from(#1CB5E0), to(#000046));
  background: linear-gradient(to left, #1CB5E0, #000046);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.m-3-1:hover:after, .m-3-2:hover:after, .m-3-3:hover:after {
  width: 100%;
  -webkit-transition: width .7s ease, background-color .7s ease;
  transition: width .7s ease, background-color .7s ease;
}

footer div {
  width: 30%;
}

.retour:hover, .mentions:hover, .contact:hover {
  -webkit-animation: anim 0.1s;
          animation: anim 0.1s;
  -webkit-animation-iteration-count: 5;
          animation-iteration-count: 5;
}

@-webkit-keyframes anim {
  0%, 100% {
    margin: 0;
  }
  15% {
    margin-top: -2px;
  }
  33% {
    margin-left: -5px;
  }
  45% {
    margin-top: 2px;
  }
  66% {
    margin-left: 5px;
  }
}

.m-3-1 span, .m-3-2 span, .m-3-3 span {
  display: block;
  position: relative;
}

.m-3-1 span:before, .m-3-1 span:after, .m-3-2 span:before, .m-3-2 span:after, .m-3-3 span:before, .m-3-3 span:after {
  content: "";
  position: absolute;
  border-radius: 0.625em;
  top: 50%;
  margin: 0em 0.625em 0em 0.625em;
  width: 4.3em;
}

.m-3-1 span:before, .m-3-2 span:before, .m-3-3 span:before {
  right: 100%;
}

.m-3-1 span:after, .m-3-2 span:after, .m-3-3 span:after {
  left: 100%;
}

.m-3-1 span:before, .m-3-1 span:after {
  border: 0.05em solid #0D47A1;
}

.m-3-2 span:before, .m-3-2 span:after {
  border: 0.05em solid #2361c2;
}

.m-3-3 span:before, .m-3-3 span:after {
  border: 0.05em solid #1CB5E0;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .menu-3 {
    width: 90%;
  }
  .header-m-3 {
    padding-top: 3.125em;
  }
  .ul-m3-1, .ul-m3-2, .ul-m3-3 {
    list-style: none;
  }
  .ul-m3-1 li, .ul-m3-1 em, .ul-m3-2 li, .ul-m3-2 em, .ul-m3-3 li, .ul-m3-3 em {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1em 1em 1em 1em;
  }
  .m-3-1, .m-3-2, .m-3-3 {
    font-size: 1.3em;
  }
  .title-m-3 {
    font-size: 3em;
  }
  .m-3-1 span:before, .m-3-1 span:after, .m-3-2 span:before, .m-3-2 span:after, .m-3-3 span:before, .m-3-3 span:after {
    display: none;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .menu-3 {
    width: 90%;
  }
  .header-m-3 {
    padding-top: 3.125em;
  }
  .ul-m3-1, .ul-m3-2, .ul-m3-3 {
    list-style: none;
  }
  .ul-m3-1 li, .ul-m3-2 li, .ul-m3-3 li {
    padding: 1em 2em 1em 2em;
    text-align: left;
  }
  .title-m-3 {
    font-size: 3em;
  }
  .m-3-1 span:before, .m-3-1 span:after, .m-3-2 span:before, .m-3-2 span:after, .m-3-3 span:before, .m-3-3 span:after {
    width: 0.2em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .menu-3 {
    width: 80%;
  }
  .header-m-3 {
    padding-top: 3.125em;
  }
  .ul-m3-1 li, .ul-m3-2 li, .ul-m3-3 li {
    padding: 1em 3em 1em 3em;
  }
  .title-m-3 {
    font-size: 3em;
  }
  .m-3-1 span:before, .m-3-1 span:after {
    width: 2.4em;
  }
  .m-3-2 span:before, .m-3-2 span:after {
    width: 2.8em;
  }
  .m-3-3 span:before, .m-3-3 span:after {
    width: 2.9em;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .menu-3 {
    width: 70%;
  }
  .ul-m3-1 li, .ul-m3-2 li, .ul-m3-3 li {
    padding: 1em 4em 1em 4em;
    font-size: 1.2em;
    text-align: left;
  }
  .ul-m3-1 li em, .ul-m3-2 li em, .ul-m3-3 li em {
    text-align: right;
  }
  .title-m-3 {
    font-size: 3em;
  }
  .m-3-1 span:before, .m-3-1 span:after {
    width: 2.9em;
  }
  .m-3-2 span:before, .m-3-2 span:after {
    width: 3.2em;
  }
  .m-3-3 span:before, .m-3-3 span:after {
    width: 3.3em;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .menu-3 {
    width: 80%;
  }
  .ul-m3-1 li, .ul-m3-2 li, .ul-m3-3 li {
    padding: 1em 4em 1em 4em;
    font-size: 1.4em;
    text-align: left;
  }
  .ul-m3-1 li em, .ul-m3-2 li em, .ul-m3-3 li em {
    text-align: right;
  }
  .title-m-3 {
    font-size: 3em;
  }
  .m-3-1 span:before, .m-3-1 span:after {
    width: 6.9em;
  }
  .m-3-2 span:before, .m-3-2 span:after {
    width: 7.2em;
  }
  .m-3-3 span:before, .m-3-3 span:after {
    width: 7.4em;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .menu-3 {
    width: 80%;
  }
  .ul-m3-1 li, .ul-m3-2 li, .ul-m3-3 li {
    padding: 1em 3em 1em 3em;
    font-size: 2em;
    text-align: left;
  }
  .ul-m3-1 li em, .ul-m3-2 li em, .ul-m3-3 li em {
    text-align: right;
  }
  .m-3-1, .m-3-2, .m-3-3 {
    font-size: 2em;
  }
  .m-3 {
    font-size: 2em;
  }
  .m-3-1 span:before, .m-3-1 span:after {
    width: 5.1em;
  }
  .m-3-2 span:before, .m-3-2 span:after {
    width: 5.4em;
  }
  .m-3-3 span:before, .m-3-3 span:after {
    width: 5.5em;
  }
}

@media screen and (min-width: 1920px) {
  .menu-3 {
    width: 80%;
  }
  .ul-m3-1 li, .ul-m3-2 li, .ul-m3-3 li {
    padding: 1em 3em 1em 3em;
    font-size: 2.5em;
    text-align: left;
  }
  .ul-m3-1 li em, .ul-m3-2 li em, .ul-m3-3 li em {
    text-align: right;
  }
  .m-3 {
    font-size: 3em;
  }
  .title-m-3 {
    font-size: 6em;
  }
  .m-3-1, .m-3-2, .m-3-3 {
    font-size: 3em;
  }
  .m-3-1 span:before, .m-3-1 span:after {
    width: 4.2em;
  }
  .m-3-2 span:before, .m-3-2 span:after {
    width: 4.4em;
  }
  .m-3-3 span:before, .m-3-3 span:after {
    width: 4.6em;
  }
}

h1 a {
  text-decoration: none;
  color: #EFC64F;
}

.menu-4 {
  width: 60%;
  height: auto;
  margin: auto;
  margin-bottom: 5em;
  margin-top: 5em;
  background-color: #FDFFFD;
}

.header-m-4 {
  text-align: center;
  padding-top: 3.125em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title-m-4 {
  font-family: 'Kaushan Script', cursive;
  font-size: 4em;
  margin-bottom: 1.2em;
  font-weight: lighter;
  background: -webkit-gradient(linear, left top, right bottom, from(#33691E), to(#CDDC39));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dishes-m-4 {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 1.5em;
}

.ul-m4-1, .ul-m4-2, .ul-m4-3 {
  list-style: none;
  font-family: 'Noto Serif', serif;
}

.ul-m4-1 li, .ul-m4-2 li, .ul-m4-3 li {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 5em 1em 5em;
}

section {
  padding: 2em 0 2em 0;
}

.title-m-4 {
  font-family: 'Noto Serif', serif;
}

.m-4-1, .m-4-2, .m-4-3 {
  display: inline-block;
}

.m-4-1:after, .m-4-2:after, .m-4-3:after {
  content: '';
  display: block;
  height: 0.125em;
  width: 0;
  border-radius: 0.625em;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#061700), to(#52c234));
  background: linear-gradient(to right, #061700, #52c234);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.m-4-1:hover:after, .m-4-2:hover:after, .m-4-3:hover:after {
  width: 100%;
  -webkit-transition: width .7s ease, background-color .7s ease;
  transition: width .7s ease, background-color .7s ease;
}

footer div {
  width: 30%;
}

.retour:hover, .mentions:hover, .contact:hover {
  -webkit-animation: anim 0.1s;
          animation: anim 0.1s;
  -webkit-animation-iteration-count: 5;
          animation-iteration-count: 5;
}

@-webkit-keyframes anim {
  0%, 100% {
    margin: 0;
  }
  15% {
    margin-top: -2px;
  }
  33% {
    margin-left: -5px;
  }
  45% {
    margin-top: 2px;
  }
  66% {
    margin-left: 5px;
  }
}

.m-4-1 span, .m-4-2 span, .m-4-3 span {
  display: block;
  position: relative;
}

.m-4-1 span:before, .m-4-1 span:after, .m-4-2 span:before, .m-4-2 span:after, .m-4-3 span:before, .m-4-3 span:after {
  content: '';
  position: absolute;
  border-radius: 0.625em;
  top: 50%;
  height: 0.125em;
  margin: 0em 0.625em 0em 0.625em;
  width: 4.3em;
  display: block;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#061700), to(#52c234));
  background: linear-gradient(to right, #061700, #52c234);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.m-4-1 span:before, .m-4-2 span:before, .m-4-3 span:before {
  right: 100%;
}

.m-4-1 span:after, .m-4-2 span:after, .m-4-3 span:after {
  left: 100%;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .menu-4 {
    width: 90%;
  }
  .header-m-4 {
    padding-top: 3.125em;
  }
  .ul-m4-1, .ul-m4-2, .ul-m4-3 {
    list-style: none;
  }
  .ul-m4-1 li, .ul-m4-1 em, .ul-m4-2 li, .ul-m4-2 em, .ul-m4-3 li, .ul-m4-3 em {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1em 1em 1em 1em;
  }
  .m-4-1, .m-4-2, .m-4-3 {
    font-size: 1.3em;
  }
  .title-m-4 {
    font-size: 3em;
  }
  .m-4-1 span:before, .m-4-1 span:after, .m-4-2 span:before, .m-4-2 span:after, .m-4-3 span:before, .m-4-3 span:after {
    display: none;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .menu-4 {
    width: 90%;
  }
  .header-m-4 {
    padding-top: 3.125em;
  }
  .ul-m4-1, .ul-m4-2, .ul-m4-3 {
    list-style: none;
  }
  .ul-m4-1 li, .ul-m4-2 li, .ul-m4-3 li {
    padding: 1em 1em 1em 1em;
    text-align: left;
  }
  .title-m-4 {
    font-size: 3em;
  }
  .m-4-1 span:before, .m-4-1 span:after, .m-4-2 span:before, .m-4-2 span:after, .m-4-3 span:before, .m-4-3 span:after {
    width: 0.2em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .menu-4 {
    width: 80%;
  }
  .header-m-4 {
    padding-top: 3.125em;
  }
  .ul-m4-1 li, .ul-m4-2 li, .ul-m4-3 li {
    padding: 1em 2em 1em 2em;
    text-align: left;
  }
  .title-m-4 {
    font-size: 3em;
  }
  .m-4-1 span:before, .m-4-1 span:after {
    width: 5.1em;
  }
  .m-4-2 span:before, .m-4-2 span:after {
    width: 3.5em;
  }
  .m-4-3 span:before, .m-4-3 span:after {
    width: 3.3em;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .menu-4 {
    width: 80%;
  }
  .ul-m4-1 li, .ul-m4-2 li, .ul-m4-3 li {
    padding: 1em 3em 1em 3em;
    font-size: 1.2em;
    text-align: left;
  }
  .ul-m4-1 li em, .ul-m4-2 li em, .ul-m4-3 li em {
    text-align: right;
  }
  .title-m-4 {
    font-size: 3em;
  }
  .m-4-1 span:before, .m-4-1 span:after {
    width: 7.25em;
  }
  .m-4-2 span:before, .m-4-2 span:after {
    width: 5.72em;
  }
  .m-4-3 span:before, .m-4-3 span:after {
    width: 5.45em;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .menu-4 {
    width: 80%;
  }
  .ul-m4-1 li, .ul-m4-2 li, .ul-m4-3 li {
    padding: 1em 4em 1em 4em;
    font-size: 1.4em;
    text-align: left;
  }
  .ul-m4-1 li em, .ul-m4-2 li em, .ul-m4-3 li em {
    text-align: right;
  }
  .title-m-4 {
    font-size: 3em;
  }
  .m-4-1 span:before, .m-4-1 span:after {
    width: 9.2em;
  }
  .m-4-2 span:before, .m-4-2 span:after {
    width: 7.6em;
  }
  .m-4-3 span:before, .m-4-3 span:after {
    width: 7.4em;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .menu-4 {
    width: 80%;
  }
  .ul-m4-1 li, .ul-m4-2 li, .ul-m4-3 li {
    padding: 1em 3em 1em 3em;
    font-size: 2em;
    text-align: left;
  }
  .ul-m4-1 li em, .ul-m4-2 li em, .ul-m4-3 li em {
    text-align: right;
  }
  .m-3 {
    font-size: 2em;
  }
  .m-4-1, .m-4-2, .m-4-3 {
    font-size: 2em;
  }
  .m-4-1 span:before, .m-4-1 span:after {
    width: 7.5em;
  }
  .m-4-2 span:before, .m-4-2 span:after {
    width: 5.8em;
  }
  .m-4-3 span:before, .m-4-3 span:after {
    width: 5.6em;
  }
}

@media screen and (min-width: 1920px) {
  .menu-4 {
    width: 80%;
  }
  .ul-m4-1 li, .ul-m4-2 li, .ul-m4-3 li {
    padding: 1em 3em 1em 3em;
    font-size: 2.5em;
    text-align: left;
  }
  .ul-m4-1 li em, .ul-m4-2 li em, .ul-m4-3 li em {
    text-align: right;
  }
  .m-4 {
    font-size: 3em;
  }
  .title-4-3 {
    font-size: 6em;
  }
  .m-4-1, .m-4-2, .m-4-3 {
    font-size: 3em;
  }
  .m-4-1 span:before, .m-4-1 span:after {
    width: 6.4em;
  }
  .m-4-2 span:before, .m-4-2 span:after {
    width: 4.8em;
  }
  .m-4-3 span:before, .m-4-3 span:after {
    width: 4.6em;
  }
}

.container5 {
  padding-top: 6em;
  padding-bottom: 6em;
}

.container5 p, .container5 h2, .container5 h3 {
  margin: 2em 1em 0 1em;
  text-align: left;
}

h1 a {
  text-decoration: none;
  color: #EFC64F;
}

.retour:hover, .mentions:hover, .contact:hover {
  -webkit-animation: anim 0.1s;
          animation: anim 0.1s;
  -webkit-animation-iteration-count: 5;
          animation-iteration-count: 5;
}

@-webkit-keyframes anim {
  0% {
    margin: 0;
  }
  15% {
    margin-top: -2px;
  }
  33% {
    margin-left: -5px;
  }
  45% {
    margin-top: 2px;
  }
  66% {
    margin-left: 5px;
  }
  100% {
    margin: 0px;
  }
}
/*# sourceMappingURL=style.css.map */